// Ascundem galeria animată pe ecrane mici și medii
@media screen and (max-width: 1200px) {
  .container-galerie-dinamica {
    display: none !important;
  }
}

.container-galerie-dinamica {
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

.galerie-dinamica {
  position: relative;
  width: 100%;
  height: 70vh; // Ajustează înălțimea pentru a nu acoperi tot ecranul
  margin: 0 auto;
  overflow: hidden;
  border: 15px solid transparent;
  border-image: url('/resurse/imagini/border-image.jpg') 30 round;
  object-fit: contain;
  --numar-imagini: 4;

  .imagine-galerie {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease, clip-path 1s ease;
    clip-path: circle(0% at 50% 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

// Animație pentru galerie
@keyframes animatie-galerie {
  0% {
    clip-path: circle(0% at 50% 50%);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    clip-path: circle(100% at 50% 50%);
    opacity: 1;
  }
}