<header>
    <h1 id="Inceput">SciMind</h1>
    <!-- Hamburger Menu -->
    <div class="hamburger-menu" id="hamburger-icon">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <nav class="main-menu" id="nav-menu">
        <ul>
            <li class="menu-icon"><a href="#"><i class="fas fa-home"></i></a></li>
            <li class="has-submenu">
                <a href="#">Topics <i class="fas fa-chevron-down"></i></a>
                <ul class="submenu">
                    <li><a href="#quantum-physics">Quantum Physics</a></li>
                    <li><a href="#artificial-intelligence">AI</a></li>
                    <li><a href="#applied-mathematics">Applied Math</a></li>
                </ul>
            </li>
            <li class="has-submenu">
                <a href="#">Gallery <i class="fas fa-chevron-down"></i></a>
                <ul class="submenu">
                    <li><a href="#static-gallery">Static Gallery</a></li>
                    <li><a href="#dynamic-gallery">Dynamic Gallery</a></li>
                </ul>
            </li>
            <li class="has-submenu">
                <a href="#">Home Sections <i class="fas fa-chevron-down"></i></a>
                <ul class="submenu">
                    <li><a href="#zone1">Home</a></li>
                    <li><a href="#courses">Courses</a></li>
                    <li><a href="#research">Research</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>