<head>
    <title>SciHub</title> <!--Exercitiul 2-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="scientific education, quantum physics, artificial intelligence, machine learning, quantum computing, online courses, applied mathematics">
    <meta name="description" content="Explore the fascinating world of quantum physics, artificial intelligence and applied mathematics through interactive educational resources, online courses, and in-depth information about the latest scientific and technological discoveries.">
    <meta name="author" content="Manea Florin">
    <link rel="icon" type="image/png" href="./resurse/ico/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/svg+xml" href="./resurse/ico/favicon.svg">
    <link rel="shortcut icon" href="./resurse/ico/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="./resurse/ico/apple-touch-icon.png">
    <meta name="apple-mobile-web-app-title" content="SciMind">
    <link rel="manifest" href="./resurse/ico/site.webmanifest">
    <link rel = "stylesheet" type = "text/css" href="./resurse/css/general.css" >
    <link rel="stylesheet" href="resurse/styles/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">

    <!--Iconuri si font -->
    <script src="https://kit.fontawesome.com/a48df587d8.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


</head>